{{ define "main" }}
<article class="divide-y divide-slate-200 dark:divide-slate-200/5">
  <header class="pt-4 pb-8">
    <div class="space-y-4">
      {{ if .Params.date }}
        <dl>
          <div>
            <dt class="sr-only">Published on</dt>
            <dd class="site-meta">
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
            </dd>
          </div>
        </dl>
      {{ end }}

      {{ if .Params.tags }}
        <div class="flex flex-wrap gap-x-3 gap-y-1">
          {{ partial "base/tags" .Params.tags }}
        </div>
      {{ end }}

      <div>
        {{ partial "base/title.html" . }}
      </div>

      {{ if .Params.subtitle }}
        <div>
          {{ partial "base/subtitle" .Params.subtitle }}
        </div>
      {{ end }}
    </div>
  </header>

  <div class="prose prose-green dark:prose-invert max-w-none pt-10">
    {{ .Content }}
  </div>
</article>
{{ end }}
