<article class="xl:flex xl:flex-row">
  <dl class="xl:flex-shrink-0 xl:w-28 xl:mr-24">
    <dt class="sr-only">Published on</dt>
    <dd class="text-base font-medium text-gray-500 dark:text-gray-400 mb-1.5">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    </dd>
  </dl>

  <div class="space-y-5">
    <div>
      {{ range .Params.tags }}
        <a class="mr-3 font-medium text-green-700 dark:text-green-500 hover:text-green-500 dark:hover:text-green-400 hover:underline" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </div>

    <div class="space-y-3">
      <h2 class="text-2xl font-bold tracking-tight">
        <a class="text-gray-900 dark:text-white hover:border-b-4 hover:border-green-500" href="{{ .RelPermalink | relURL }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
      </h2>

      <div class="prose prose-green dark:prose-invert max-w-none ">
        {{ .Summary  }}
      </div>
    </div>

    <div class="text-base font-medium">
      <a class="text-green-700 dark:text-green-500 hover:text-green-500 dark:hover:text-green-400 hover:underline" aria-label='Read "{{ .Title | markdownify }}"' href="{{ .RelPermalink | relURL }}">Read more →</a>
    </div>
  </div>
</article>
