{{ if .Params.Website }}
<div>
  <span class="dark:text-white font-bold">Website:</span>
  <a class="site-link-external break-all" href="{{ .Params.Website }}">{{ .Params.Website }} ↗</a>
</div>
{{ end }}

{{ if .Params.Source }}
<div>
  <span class="dark:text-white font-bold">Source Code:</span>
  <a class="site-link-external break-all" href="{{ .Params.Source }}">{{ .Params.Source }} ↗</a>
</div>
{{ end }}

{{ if .Params.Documentation }}
<div>
  <span class="dark:text-white font-bold">Documentation:</span>
  <a class="site-link-external break-all" href="{{ .Params.Documentation }}">{{ .Params.Documentation }} ↗</a>
</div>
{{ end }}
