{{ define "main" }}
<main class="divide-y divide-slate-200 dark:divide-slate-200/5">
  <div class="pt-3 pb-9 space-y-3 md:space-y-5">
    <h1 class="site-page-title">{{ .Title | markdownify }}</h1>

    <p class="site-subtitle">{{ .Params.Subtitle | markdownify }}</p>
  </div>

  <ul class="divide-y divide-slate-200 dark:divide-slate-200/5">
    {{ range sort .Pages "Params.Featured" "desc" }}
    <li class="py-2">
      {{ partial "projects/preview.html" . }}
    </li>
    {{ end }}
  </ul>
</main>

<div class="site-support-copy font-medium divide-slate-200 dark:divide-slate-200/5 xl:col-start-1 xl:row-start-2">
  <div class="space-y-7 py-8">
    <p>
      You can find the rest of my open-source project on <a class="site-link-external" href="https://github.com/Robert-96?tab=repositories">GitHub ↗</a>.
    </p>
  </div>
</div>
{{ end }}
