{{ define "main" }}
<article class="divide-y divide-slate-200 dark:divide-slate-200/5">
  <header class="pt-3 pb-5">
    <div class="space-y-3">
      {{ if .Params.Tech }}
        <div class="flex flex-wrap">
          {{ range .Params.Tech }}
            <span class="mr-3 font-medium text-green-700 dark:text-green-500">{{ . }}</span>
          {{ end }}
        </div>
      {{ end }}

      <div>
        <h1 class="text-3xl font-extrabold text-gray-900 dark:text-white tracking-tight sm:text-4xl md:text-6xl">{{ .Title | markdownify }}</h1>
      </div>

      {{ if .Params.Subtitle }}
        <div>
          <span class="text-xl text-gray-500 dark:text-slate-300">{{ .Params.Subtitle | markdownify }}</span>
        </div>
      {{ end }}

      <div class="pt-5 space-y-3">
        {{ if .Params.Website }}
        <div>
          <span class="dark:text-white font-bold">Website:</span>
          <a class="text-blue-700 dark:text-blue-500 hover:text-blue-500 dark:hover:text-blue-400 hover:underline" href="{{ .Params.Website }}">{{ .Params.Website }} ↗</a>
        </div>
        {{ end }}

        {{ if .Params.Source }}
        <div>
          <span class="dark:text-white font-bold">Source Code:</span>
          <a class="text-blue-700 dark:text-blue-500 hover:text-blue-500 dark:hover:text-blue-400 hover:underline" href="{{ .Params.Source }}">{{ .Params.Source }} ↗</a>
        </div>
        {{ end }}

        {{ if .Params.Documentation }}
        <div>
          <span class="dark:text-white font-bold">Documentation:</span>
          <a class="text-blue-700 dark:text-blue-500 hover:text-blue-500 dark:hover:text-blue-400 hover:underline" href="{{ .Params.Documentation }}">{{ .Params.Documentation }} ↗</a>
        </div>
        {{ end }}
      </div>
    </div>
  </header>

  <div class="prose prose-green dark:prose-invert max-w-none pt-9 pb-24">
    {{ .Content }}
  </div>
</article>

<div class="text-sm text-gray-500 dark:text-slate-300 font-medium divide-slate-200 dark:divide-slate-200/5 xl:col-start-1 xl:row-start-2">
  <div class="space-y-7 py-7">
    <p>
      You can find the rest of my projects in the <a class="text-green-700 dark:text-green-500 hover:text-green-500 dark:hover:text-green-400 hover:underline" href="{{ "/projects/" | relURL}}">projects</a> section.
    </p>
  </div>
</div>
{{ end }}
