{{ define "main" }}
<article class="divide-y divide-slate-200 dark:divide-slate-200/5">
  <header class="pt-4 pb-8">
    <div class="space-y-4">
      {{ if .Params.Tech }}
        <div class="flex flex-wrap gap-2">
          {{ range .Params.Tech }}
            <span class="site-tech-chip">{{ . }}</span>
          {{ end }}
        </div>
      {{ end }}

      <div>
        <h1 class="site-page-title">{{ .Title | markdownify }}</h1>
      </div>

      {{ if .Params.Subtitle }}
        <div>
          <span class="site-subtitle">{{ .Params.Subtitle | markdownify }}</span>
        </div>
      {{ end }}

      <div class="pt-5 space-y-3">
        {{ partial "base/project-links" . }}
      </div>
    </div>
  </header>

  <div class="prose prose-green dark:prose-invert max-w-none pt-10 pb-24">
    {{ .Content }}
  </div>
</article>

<div class="site-support-copy font-medium divide-slate-200 dark:divide-slate-200/5 xl:col-start-1 xl:row-start-2">
  <div class="space-y-7 py-8">
    <p>
      You can find the rest of my projects in the <a class="site-link-action" href="{{ "/projects/" | relURL}}">projects</a> section.
    </p>
  </div>
</div>
{{ end }}
