<article class="space-y-2">
  <div class="space-y-5">
    <div class="space-y-6">
      <div class="space-y-2">
        {{ partial "base/preview-title" . }}

        <div class="flex flex-wrap">
          {{ range .Params.Tech }}
            <span class="mr-3 font-medium text-green-700 dark:text-green-500">{{ . }}</span>
          {{ end }}
        </div>
      </div>

      <div class="prose prose-green dark:prose-invert max-w-none">
        {{ .Summary  }}
      </div>
    </div>

    <div class="space-y-3">
      {{ partial "base/project-links" . }}
    </div>

    {{ partial "base/read-more" . }}
  </div>
</article>
