<footer class="text-center py-6 text-sm text-gray-500 dark:text-slate-300 font-medium">
  <small>Copyright {{ .Site.Params.author }} © {{now.Format "2006"}}</small>
</footer>

{{ if .Site.BuildDrafts }}
<div class="mt-24 py-10 border-t border-gray-200 dark:border-slate-500">
  <div class="prose prose-green dark:prose-invert max-w-none pt-5">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>

      <tr><th>Name</th><td>{{ .Name }}</td></tr>
      <tr><th>Kind</th><td>{{ .Kind }}</td></tr>
      <tr><th>Type</th><td>{{ .Type }}</td></tr>
      <tr><th>List Page</th><td>.Pages</td></tr>
      <tr><th>IsPage</th><td>{{ .IsPage }}</td></tr>
      <tr><th>IsHome</th><td>{{ .IsPage }}</td></tr>
      <tr><th>Next</th><td>{{ or .Next "N/A" }}</td></tr>
      <tr><th>Prev</th><td>{{ or .Prev "N/A" }}</td></tr>
      <tr><th>Section</th><td>{{ .CurrentSection }}</td></tr>
  </table>
</div>
{{ end }}
