<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ if .IsHome }}
    <title>{{ .Site.Params.Title }}</title>
  {{ else }}
    <title>{{ if .Draft }}DRAFT: {{end}}{{ .Title }} | {{ .Site.Params.Title }}</title>
  {{ end }}

  {{ if .Params.Description }}
    <meta name="description" content="{{ .Params.Description }}">
  {{ else if .Params.Subtitle }}
    <meta name="description" content="{{ .Params.Subtitle }}">
  {{ else }}
    <meta name="description" content="{{ .Site.Params.Description }}">
  {{ end }}

  <meta name="author" content="{{ .Site.Params.Author }}">

  <!-- Favicon -->
  <link rel="icon" href="{{ "/icons/favicon.svg" | relURL }}">

  <!-- Metadata -->
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <!-- Tailwind CSS -->
  {{ $tailwindCSS := resources.Get "css/main.css" | minify | fingerprint }}
  <link href="{{ $tailwindCSS.RelPermalink }}" rel="stylesheet">

  <!-- Custom JS -->
  {{ $darkJS := resources.Get "js/dark.js" | minify | fingerprint }}
  <script src="{{ $darkJS.RelPermalink }}"></script>

  <!-- RSS -->
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}
</head>
