<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ end }}

  {{ if .Page.Description }}
    <meta name="description" content="{{ .Page.Description }}">
  {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
  {{ end }}

  <meta name="author" content="{{ .Site.Params.author }}">

  <!-- Favicon -->
  <link rel="icon" href="{{ "/icons/favicon.svg" | relURL }}">

  <!-- Tailwind CSS -->
  {{ $tailwindCSS := resources.Get "css/main.css" | minify | fingerprint }}
  <link href="{{ $tailwindCSS.RelPermalink }}" rel="stylesheet">

  <!-- Custom JS -->
  {{ $darkJS := resources.Get "js/dark.js" | minify | fingerprint }}
  <script src="{{ $darkJS.RelPermalink }}"></script>

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>
