<!-- A note, important or warning blockquote inspired form GitHub: https://github.com/orgs/community/discussions/16925 -->

{{ $type := .Get "type" | lower }}
{{ $supportedTypes := slice "important" "note" "warning" }}

{{ if in $supportedTypes $type }}
  <blockquote class="gh-blockquote gh-{{ $type | safeHTML }}">
    <span class="font-bold">{{ $type | title }}</span>
    <br>

    {{ .Inner | markdownify }}
  </blockquote>
{{ else }}
  {{ errorf "Invalid parameter: '%s'. Supported values: %q." $type $supportedTypes }}
{{ end }}
