{{ define "main" }}
<main class="divide-y divide-slate-200 dark:divide-slate-200/5">
  <div class="mt-6 mb-12 flex flex-col items-center gap-x-12 xl:mb-6 xl:pb-18 xl:flex-row">
    <div>
      <h1 class="pb-6 text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">Hi, I'm <span class="">Dezmerean Robert</span></h1>

      <h2 class="prose prose-green dark:prose-invert text-xl text-gray-500 dark:text-slate-300">
        Welcome to my blog - I’m a <strong>Software Developer</strong> with <strong>7+ years of experience</strong>, proficient in <strong>Python</strong> and <strong>JavaScript</strong>, specializing in <strong>Flask</strong> and <strong>Fast API</strong> for constructing high-performance applications.
        In my free time, I like developing <a href="{{ "/projects/" | relURL}}">side projects</a> and <a href="{{ "/posts/" | relURL}}">blogging</a> about them. Have a good read!
      </h2>
    </div>

    <div id="art" class="relative mt-20 mb-12 xl:my-0">
      <canvas id="art-canvas" class="w-full sm:size-96 cursor-pointer"></canvas>

      <div class="art-legend">
        <p class="text-center mt-1 text-gray-500 dark:text-slate-300">&lt;!-- <strong>click this art</strong> to regenerate it <span id="art-tooltip" class="font-bold cursor-help">[<span class="text-green-500">?</span>]</span> --&gt;</p>
        <div id="art-note" class="absolute w-64 top-16 left-16 p-3 border-4 border-black dark:border-white bg-white dark:bg-slate-900 hidden">
          <div class="prose prose-green text-base dark:prose-invert text-gray-500 dark:text-slate-300">
            <p>This art is inspired by <a href="https://en.wikipedia.org/wiki/Piet_Mondrian" target="_blank">Piet Mondrian’s art</a>. It is randomly generated every time you refresh the page. You can also regenerate it however many times you want by clicking on it. Every art is new!</p>

            <p>Inspired by <a href="https://meowni.ca/" target="_blank">Monica Dinculescu's</a> website.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden pt-9 pb-12 space-y-2 md:space-y-5">
    <h1 class="text-xl font-extrabold text-gray-900 dark:text-white racking-tight sm:text-4xl md:text-6xl">
      Featured Projects
    </h1>

    <div class="text-lg text-gray-500 dark:text-slate-300 space-y-3">
      <p>Here are some of my personal favourite projects I've worked on in the past.</p>
    </div>
  </div>

  <!-- Hidden projects section until I update the project pages -->
  <div class="hidden">
    <ul class="divide-y divide-slate-200 dark:divide-slate-200/5">
      {{ range $index, $post := (where .Site.RegularPages "Section" "projects") }}
        {{ if (or (eq $index 0) ($post.Params.featured)) }}
          <li class="py-6">
            {{ partial "projects/preview.html" $post }}
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>

  <div class="hidden flex justify-end text-base font-medium leading-6 py-7">
    <a class="text-green-700 dark:text-green-500 hover:text-green-500 dark:hover:text-green-400 hover:underline" href="{{ "/projects/" | relURL}}">All Projects →</a>
  </div>

  <div class="pt-9 pb-12 space-y-2 md:space-y-5">
    <h1 class="text-xl font-extrabold text-gray-900 dark:text-white racking-tight sm:text-4xl md:text-6xl">
      Featured Posts
    </h1>

    <div class="text-lg text-gray-500 dark:text-slate-300 space-y-3">
      <p>
        Over the years I’ve published a few dozen articles — some more noteworthy than others.
      </p>

      <p>Here are some of my personal favourites.</p>
    </div>
  </div>

  <div>
    <ul class="divide-y divide-slate-200 dark:divide-slate-200/5">
      {{ range $index, $post := (where .Site.RegularPages "Section" "posts") }}
        {{ if (or (eq $index 0) ($post.Params.featured)) }}
          <li class="py-6">
            {{ partial "posts/preview.html" $post }}
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</main>

<div class="flex justify-end text-base font-medium leading-6 py-7">
  <a class="text-green-700 dark:text-green-500 hover:text-green-500 dark:hover:text-green-400 hover:underline" href="{{ "/posts/" | relURL}}">All Posts →</a>
</div>
{{ end }}
