{{ define "main" }}
<main class="divide-y divide-gray-200">
  <header class="pt-3 pb-9 space-y-2 md:space-y-5">
    <h1 class="text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl md:text-6xl">
      Featured Posts
    </h1>

    <div class="text-lg text-gray-500 space-y-3">
      <p>
        Over the years I’ve published a few dozen articles — some more noteworthy than others.
      </p>

      <p>Here are some of my personal favorites.</p>
    </div>
  </header>

  <div>
    <ul class="divide-y divide-gray-200">
      {{ range (where .Site.RegularPages "Section" "posts") }}
        {{ if .Params.featured }}
          <li class="py-6">
            {{ partial "posts/preview.html" . }}
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</main>

<div class="text-sm text-gray-500 font-medium divide-y divide-gray-200 xl:col-start-1 xl:row-start-2">
  <div class="space-y-7 py-7">
    <p>
      Read the rest of my articles in the <a class="text-green-600 hover:text-green-700 hover:underline" href="{{ "/posts/" | relURL}}">posts</a> section.
    </p>
  </div>
</div>
{{ end }}
