{{ define "main" }}
<main class="divide-y divide-slate-200 dark:divide-slate-200/5">
  <div class="pt-3 pb-9 space-y-3 md:space-y-5">
    <h1 class="site-page-title">{{ .Type | humanize }}</h1>

    <p class="site-subtitle">All the latest blog posts — some more noteworthy than others.</p>
  </div>

  <ul class="divide-y divide-slate-200 dark:divide-slate-200/5">
    {{ range .Pages }}
    <li class="py-2">
      {{ partial "posts/preview.html" . }}
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
