{{ define "main" }}
<article class="divide-y divide-slate-200 dark:divide-slate-200/5">
  <header class="pt-4 pb-8">
    <div class="space-y-4">
      <div>
        <dl>
          <div>
            <dt class="sr-only">Published on</dt>
            <dd class="site-meta">
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
            </dd>
          </div>
        </dl>

        <div class="mt-2 flex flex-wrap gap-x-3 gap-y-1">
          {{ partial "base/tags" .Params.tags }}
        </div>
      </div>

      <div>
        {{ partial "base/title.html" . }}
      </div>

      {{ if .Params.subtitle }}
      <div>
        {{ partial "base/subtitle" .Params.subtitle }}
      </div>
      {{ end }}

    </div>
  </header>

  <div class="prose prose-green dark:prose-invert max-w-none pt-10 pb-24">
    {{ .Content }}
  </div>
</article>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<div class="text-sm font-medium">
  <div class="space-y-5 py-8">
    <h2 class="site-meta">See also</h2>

    <div class="divide-y divide-gray-100 dark:divide-slate-700">
      {{ range . }}
        <div class="space-y-3 py-5">
          {{ partial "posts/thumbnail.html" . }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ if or .NextInSection .PrevInSection }}
<div class="text-sm font-medium divide-y divide-slate-200 dark:divide-slate-200/5 xl:col-start-1 xl:row-start-2">
  <div class="flow-root space-y-8 md:space-y-0 py-8">
    {{ if .NextInSection }}
      <div class="md:float-right md:text-right">
        <h2 class="site-meta">Next Article</h2>
        <div>
          <a class="site-link-action" href="{{ .NextInSection.Permalink | relURL }}">{{ .NextInSection.Title | markdownify }} →</a>
        </div>
      </div>
    {{ end }}

    {{ if .PrevInSection }}
      <div class="md:float-left">
        <h2 class="site-meta">Previous Article</h2>
        <div>
          <a class="site-link-action" href="{{ .PrevInSection.Permalink | relURL }}">← {{ .PrevInSection.Title | markdownify }}</a>
        </div>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ partial "base/back.html" }}

{{ end }}
