name: Deploy

on:
  push:
    paths:
      - '.github/workflows/deploy.yaml'
      - 'archetypes/**'
      - 'content/**'
      - 'static/**'
      - 'themes/**'
      - 'config.toml'
      - 'package-lock.json'
      - 'package.json'
      - 'package-lock.json'
      - 'webpack.config.js'

permissions: {}

env:
  NODE_VERSION: '18.x'

jobs:
  build:
    runs-on: macos-latest

    environment:
      name: prod

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Hugo
        run: |
          brew install hugo

      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Get npm cache directory
        id: npm-cache-dir
        run: echo "dir=$(npm config get cache)" >> "${GITHUB_OUTPUT}"

      - uses: actions/cache@v4
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm dependencies
        run: |
          npm ci

      - name: Build the Hugo site
        env:
          HUGO_PARAMS_AZURE_APPINSIGHTSCONNECTIONSTR: ${{ secrets.HUGO_PARAMS_AZURE_APPINSIGHTSCONNECTIONSTR }}
        run: |
          npm run pack

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: "public/"

  deploy:
    needs: build
    runs-on: macos-latest

    if: github.ref == 'refs/heads/main'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
